<div>
    <div class="menu">
        <h4 style="color: rgb(0, 30, 85);">Secciones</h4>
        <hr>
        <ul class="items">
            <li *ngFor="let item of items" 
            (click)="onSelect(item)"
            [class.selected]="item === itemSelected">{{item.name}}</li>
        </ul>
    </div>
    <div class="contain">
        <h2 class="list-title">{{title}}</h2>
        <hr>
        <div style="overflow:scroll; height:510px;">
            <app-albums *ngIf="itemSelected.id == 0"></app-albums>
            <app-comments *ngIf="itemSelected.id == 1"></app-comments>
            <app-photos *ngIf="itemSelected.id == 2"></app-photos>
            <app-posts *ngIf="itemSelected.id == 3"></app-posts>
            <app-todos *ngIf="itemSelected.id == 4"></app-todos>
            <app-users *ngIf="itemSelected.id == 5"></app-users>
        </div>
        
    </div>
</div>